h1 {
  background-color: #f4cc70;
  color: #794518;
  padding: 10px;
  border-radius: 15px;
  margin: 25px 15px;
}

body {
  background-color: #de7a22;
}

.btn-warning{
  background-color: #f6c144;
  text-decoration: none;
  height: 55px;
  width: 120px;
  font-size: larger;
}
.flex-container {
  display: flex;
  justify-content: space-evenly;
  margin: 50px 75px;
}

.circle-dot {
  height: 125px;
  width: 125px;
  background-color: #6ab187;
  border-radius: 50%;
  display: inline-block;
}

.circle-dot img {
  margin-top: 23px;
}

.login-signup {
  flex-direction: column;
}

.choose-game {
  flex-direction: column;
} 

.login-signup button{
  margin: 5px 15px;
  text-decoration: none;
  border-radius: 15px;
}

.choose-game button{
  margin: 25px 35px;
  text-decoration: none;
  border-radius: 15px;
}

/* index.html buttons*/
.login-btn {
  background-color: #f6c144;
  text-decoration: none;
  height: 55px;
  width: 120px;
  font-size: larger;
}
.register-btn {
  background-color: #f6c144;
  text-decoration: none;
  height: 55px;
  width: 120px;
  font-size: larger;
}

.play-anon-btn {
  background-color: #f6c144;
  text-decoration: none;
  height: 60px;
  width: 175px;
  font-size: larger;
}

/* unvisited link */
a:link {
  text-decoration: none;
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: #3CB371;
}

/* selected link */
a:active {
  color: black;
}

.container {
  width: 80%;
  height: 200px;
  margin: auto;
  padding: 10px;
  background-color: #de7a22;
}

.one {
  margin-left: 15%;
  height: 200px;
  float: left;
}

.two {
  margin-right: 15%;
  height: 200px;
  float: right;
}
