h2 {
  background-color: #f4cc70;
  color: #794518;
  padding: 10px;
  border-radius: 15px;
}

body {
  background-color: #de7a22;
}
.card {
  width: 18rem;
}

.card-img-top{
  border-radius: 50%;
}

/* unvisited link */
a:link {
  text-decoration: none;
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: #3CB371;
}

/* selected link */
a:active {
  color: black;
}

.circle-dot {
  margin: 5px;
}

#current-room {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 12ch;
}

#chatroom-container {
  z-index: 11;
  bottom: 0;
  right: 0;
}

#chat-messages-container {
  max-height: 50vh;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
}
