body {
    background-color: #de7a22;
  }

/* unvisited link */
a:link {
    text-decoration: none;
    color: black;
  }
  
  /* visited link */
  a:visited {
    color: black;
  }
  
  /* mouse over link */
  a:hover {
    color: #3CB371;
  }
  
  /* selected link */
  a:active {
    color: black;
  }

p {
    font-size: 20 px;
}