{% extends 'base.html' %}
{% set active_page = "index" %}
{% block head_css %} <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}" /> {% endblock %}
{% block title %} Rock, Paper, Scissors {% endblock %}
{% block content %}
<div class="container">
    <h1>Rock! Paper! Scissors! Showdown! </h1>
    <div class="flex-container">
        <span class="circle-dot">
            <img src="./static/img/icons8-rock-80.png"></img>
        </span>
        <span class="circle-dot">
            <img src="./static/img/icons8-paper-80.png"></img>
        </span>
        <span class="circle-dot">
            <img src="./static/img/icons8-hand-scissors-80.png"></img>
        </span>
    </div>
    <div class="choose-game">
        <button type="button" class="btn btn-lg btn-warning"><a href="/play">Play</a></button>
    </div>
    {% if session["username"] %}
    <button type="button" class="btn btn-lg btn-warning"><a href="/stats">stats</a></button>
    {% else %}
    {% endif %}
</div>
{% endblock %}
