{% extends 'base.html' %}
{% set active_page = "play" %}
{% block title %} Play {% endblock %}
{% block head_css %} <link rel="stylesheet" href="{{ url_for('static', filename='styles/play.css') }}" /> {% endblock %}
{% block content %}

<div class="container" style="padding: 20px;">

    <!-- status bars -->
    <h2 id="game-stats">Wins: 0, Losses: 0, Draws: 0 (total)</h2>
    <h2 id="game-streak">Streak: 0</h2>
    <h2><span id="round-number"></span>: <span id="game-status">Click New Game to find an opponent!</span> <span id="countdown"></span></h2>

    <!-- avatars -->
    <div class="row justify-content-around">
        <div class="col-5 d-flex justify-content-center">
            <div class="card bg-transparent border-0">
                <img id="choice-player" src="./static/img/female.png" class="card-img-top" alt="player">
                <div class="card-body">
                    <h5 id="player-name" class="card-title">You</h5>
                </div>
            </div>
        </div>

        <div class="col-1 d-flex align-items-center justify-content-center">
            <span class="fs-1">VS</span>
        </div>

        <div class="col-5 d-flex justify-content-center">
            <div class="card bg-transparent border-0">
                <img id="choice-opponent" src="./static/img/male.png" class="card-img-top" alt="player">
                <div class="card-body">
                    <h5 id="opponent-name" class="card-title">?</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="">
        <button type="button" class="btn btn-warning" id="btn-new-game">New Game</button>
        <div class="my-2">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="check-pvp" value="option1">
                <label class="form-check-label" for="inlineRadio1">PvP</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="check-cpu" value="option2"> 
                <label class="form-check-label" for="inlineRadio2">CPU</label>
            </div>
        </div>
    </div>

    <div class="flex-container">
        <button type="button" class="circle-dot" id="btn-rock">
            <img src="./static/img/icons8-rock-80.png"></img>
        </button>
        <button type="button" class="circle-dot" id="btn-paper">
            <img  src="./static/img/icons8-paper-80.png"></img>
        </button>
        <button type="button" class="circle-dot" id="btn-scissors">
            <img src="./static/img/icons8-hand-scissors-80.png"></img>
        </button>
    </div>


    <!-- status bar -->
    <div id="status-bar" class="fixed-bottom bg-gradient bg-danger w-auto py-1 px-3 d-flex justify-content-between align-items-center">
        <span id="socket-status" class="text-white fw-bold align-middle">DISCONNECTED</span>
        <span id="current-room" class="text-white fw-bold align-middle" style="overflow: hidden; text-overflow: ellipsis; max-width: 12ch;">NOT IN ROOM</span>
        <button id="toggle-chat" type="button" class="btn btn-primary">Chat &uarr;</button>

    </div>

    <!-- chatrooom -->
    <div id="chatroom-container" class="position-fixed mb-5">
        <div id="chatroom" class="toast hide" role="alert">
            <div class="toast-header">
                <label class="form-check-label" for="check-room-chat"><strong>All</strong></label>
                <div class="me-auto form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="check-room-chat" disabled>
                    <label class="form-check-label" for="check-room-chat"><strong>Room</strong></label>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
            </div>
            <div class="toast-body">
                <div id="chat-messages-container" class="overflow-auto">
                    <!-- chat messages -->
                    <ul id="chat-messages" class="list-group"></ul>
                </div>

                <div class="input-group mb-3">
                    <input id="input-chat" type="text" class="form-control" placeholder="Message">
                    <button id="btn-send-chat" class="btn btn-outline-secondary" type="button">Send</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.socket.io/4.1.2/socket.io.min.js" integrity="sha384-toS6mmwu70G0fw54EGlWWeA4z3dyJ+dlXBtSURSKN4vyRFOcxd3Bzjj/AoOwY+Rg" crossorigin="anonymous"></script>
    <script src="./static/js/Game.js"></script>
    <script src="./static/js/init.js"></script>
    <script src="./static/js/updateFunctions.js"></script>
    <script src="./static/js/socketGameEvents.js"></script>
    <script src="./static/js/socketChatEvents.js"></script>
    <script src="./static/js/buttonEvents.js"></script>
    {% endblock %}
