{% extends 'base.html' %}
{% set active_page = "stats" %}
{% block title %} Player Statistics {% endblock %}
{% block head_css %} <link rel="stylesheet" href="{{ url_for('static', filename='styles/stats.css') }}" /> {% endblock %}
{% block content %}
<section>
    <div class="container">
        <img src="./static/img/female.png" alt="Avatar1" style="padding-bottom: 20px">
        <h2>Your Stats</h2>
        <div style="text-align: left; margin-left: 20%;">
            <p>Wins: {{ wins }}</span></p>
            <p>Losses: {{ losses }}</span></p>
            <p>Draws: {{ draws }}</p>
        </div>
    </div>
</section>
{% endblock %}
